* {
  padding: 0px;
  margin: 0px;
}
.heading {
  color: blue;
}
.category {
  list-style: none;
  display: flex;
}
.category li {
  margin: 10px;
}
.category li img {
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  padding: 30px;
}
.nav li {
  list-style-type: none;
  padding: 0.5%;
  margin-right: 10px;
}
.nav li #dropdown {
  position: relative;
  display: inline-block;
}
