* {
  padding: 0px;
  margin: 0px;
}
.Header {
  background-color: rgb(235, 164, 11);
  margin: 0px auto;
  padding: 16px 12px;
}
.heading {
  color: blue;
}
.category:hover {
  background-color: burlywood;
}
.category {
  list-style: none;
  display: flex;
}
.category li {
  margin: 8px;
}
.category li img {
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  padding: 30px;
}
.nav li {
  list-style-type: none;
  padding: 0.5%;
  margin-right: 10px;
}
.nav li a {
  font-size: inherit;
  text-decoration: none;
  color: darkorange;
}
.nav li #dropdown {
  position: relative;
  display: inline-block;
}
.grid-container {
  border: 2px solid rgb(245, 237, 237);
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.grid-container h1 {
  text-align: center;
}
.grid-container .grid-item {
  border: 1px solid rgb(245, 237, 237);
}
